<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>App_Prova</title>

	<div class=""></div>




</head>
<body>

</body>
</html>

<h1>Home#api</h1>
<p>Find me in app/views/home/api.html.erb</p>
