<div class="container">
	<h1>Eu estou com um pouco de diviculdade</h1>
</div>
<div>
	<h2>Resposta 1</h2>
</div>
<div>
	<h3>Resposta 2</h3>
</div>
<div>
	<h3>Resposta 3</h3>
</div>
<div>
	<h4>Resposta 4</h4>
</div>
<div>
	<h5>Resposta 5</h5>
</div>

<script src="https://container-fluid/jquery-2.1.3.min.js"></script>

<p>Find me in app/views/home/index.html.erb</p>
